body{
	padding-top: 100px;
}
#cabecalho {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    background: #b3cde0;
    color: #000;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	.botao_cabecalho{
		margin-left: 30px;
		border: none;
		color: #ffffff;
		background-color: #191970;
		border-right:3px solid;
		border-left:3px solid;
		border-color: #FFD700;
		width: 100px;
		height: 40px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		text-align: center;
		font-family: Arial;
		font-weight: normal;
		font-size: 14px;
	}
}
#inicio{
	text-decoration: none;
  	color: inherit;
  	display: flex;
    align-items: center;
    justify-content: flex-start;
  	img{
	    height: 50px;
	    width: 50px;
    }
    h1{
	    font-family: Arial;
	    font-weight: bold;
	    color: #111111;
	}
}
#pesquisar{
	margin-left: 40px;
	width: 360px;                 
	height: 30px;                 
	padding-left: 10px;           
	border: 2px solid #111111;
	border-radius: 20px;
	background-size: 20px;
}
#rodape{
    background: #b3cde0;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    display: flex;
	flex-direction: row;
	gap: 100px;
}
.conteudo_rodape_0{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: top;
	gap: 20px;
	img{
		width: 200px;
		height: auto;
	}
	p{
		color: #111;
	}
}
.conteudo_rodape{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: top;
	gap: 20px;
	h1{
		font-family: Arial;
	    font-style: bold;
	    color: #111111;
	    font-size: 16px;
	}
	.botao_rodape{
		text-decoration: none;
		cursor: pointer;
		font-family: Arial;
		font-size: 16px;
		color: #111;
	}
}

#corpo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

/* Tudo Relacionado aos posts, desde a página principal, até páginas individuais*/

/* Na página principal*/
.post{
	text-decoration: none;
  	color: inherit;
  	display: block;
	h1{
		font-family: Arial;
		font-style: bold;
		font-size: 16px;
		color: #111;
	}
	h2{
		font-family: Arial;
		font-style: normal;
		font-size: 12px;
		color: #111;
	}
	img {
	    width: 100%;
	    height: 200px;
	    object-fit: cover;
	    border-radius: 10px;
	}
}

/* Páginas Individuais */
#pagina{
	margin: 40px;
	h1{
		font-family: Arial;
		font-style: bold;
		font-size: 24px;
		color: #111;
	}
	h2{
		font-family: Arial;
		font-style: normal;
		font-size: 20px;
		color: #111;
	}
	h3{
		font-family: Arial;
		font-style: normal;
		font-size: 18px;
		color: #111;
	}
	p{
		font-family: Arial;
		font-style: normal;
		font-size: 18px;
		color: #111;
	}
	img {
		display: block;
    	margin: 0 auto;
	    width: 70%;
	    height: auto;
	}
}
#inscrever{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	#botao_inscrever{
		margin-left: 30px;
		border: none;
		color: #ffffff;
		background-color: #191970;
		border: 3px solid;
		border-color: #FFD700;
		width: 200px;
		height: 100px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		text-align: center;
		font-family: Arial;
		font-weight: bold;
		font-size: 20px;
	}
}